<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.css" />
</head>

<body>
    <section class="hero is-primary" style = "background-color: red;">
        <div class="hero-body text-center">
            <div class="container">
                <h1 class="title">
                    5 hour forecast of {{ city_name }}.
                </h1>
            </div>
        </div>
    </section>
    
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-offset-4 is-4">
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="row">
                    {% for forecast in city_forecast %}
                    <div class="box col-sm-3">
                        <article class="media">
                            <div class="media-left">
                                <figure class="image is-50x50">
                                    <img src=" http://openweathermap.org/img/wn/{{ forecast.icon }}@2x.png" alt="Image">
                                </figure>
                            </div>
                            <div class="media-content">
                                <div class="content">
                                    <p>
                                        <span class="title">{{ forecast.timestamp }}</span>
                                        <br>
                                        <h5><b>Temperature: </b>{{ forecast.temperature}} °C</h5><br>  
                                        <h5><b>Minimum temperature: </b>{{ forecast.min_temperature}} °C</h5><br>
                                        <h5><b>Maximum temperature: </b>{{ forecast.max_temperature}} °C</h5><br>
                                        <h5><b>Weather: </b>{{ forecast.weather}}</h5><br>
                                    </p>
                                </div>
                            </div>
                        </article>
                    </div>
                    {% if forloop.counter|divisibleby:"2" and not forloop.last %}
                </div>
                <div class="row">
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
    <footer class="footer">
    </footer>
</body>