<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>


<body style="background-color: #3F3F3F;">
    <section class="hero is-primary" style="background-color: #202020;">
        <div class="hero-body  has-text-centered">
            <div class="container">
                <h1 class="title">
                    What's the weather like?
                </h1>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-offset-4 is-4">
                    <form method="POST">
                        {% csrf_token %}
                        <div class="field has-addons">
                            <div class="control is-expanded">
                                {{ form.name }}
                            </div>
                            <div class="control">
                                <button type="submit" class="button is-warning">
                                    Add City
                                </button>
                            </div>
                        </div>
                        {% if message %}
                        <div class="notification {{ message_class }}">{{ message }}</div>
                        {% endif %}
                    </form>
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-offset-4 is-4">
                    {% for city in weather_data %}
                    <div class="box">
                        <article class="media">
                            <div class="media-left">
                                <figure class="image is-50x50">
                                    <img src=" http://openweathermap.org/img/wn/{{ city.icon }}@2x.png" alt="Image">
                                </figure>
                            </div>
                            <div class="media-content" style="padding-left;">
                                <div class="content" style="position: center;">

                                    <span class="title">{{ city.city }}</span>
                                    <br>
                                    <span class="subtitle">{{ city.temperature}}° C</span>
                                    <br>{{ city.description }}

                                </div>
                            </div>
                            <div class="media-right">
                                <a href="{% url 'delete_city' city.city %}">
                                    <button class="class"
                                        style="background-color: white; border: 0px solid ;">&#10006</button>
                                </a>
                            </div>
                            <div class="media-bottom media-right">
                                <a href="{% url 'weather_forecast' city.city %}">
                                    <button class="class"
                                        style=" background-color: white; border: 0px solid ;">&#128712</button>
                                </a>
                            </div>
                        </article>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>

</body>
<footer class="footer text-center" style="margin-top:10px; background-color:  #202020;">
    <p style="color:whitesmoke; padding-left: 33%; padding-top: 10px">
        Made by Aditya Kotwal. All rights reserved @2020. Powered by 
        <a href = "https://openweathermap.org/" target="_blank">openweathermap.</a>
        <a href="https://github.com/AdityaKotwal100" target="_blank">
            <p style="padding-top: 10px;padding-right: 10px; color:whitesmoke; padding-left: 50%; class=" footer-text"
                id="showGithub"><i class="fa fa-github fa-lg" aria-hidden="true"></i></p>
        </a>
</footer>

</html>